.root{

}
.old{
    padding-left: 10px;
    text-decoration: line-through;
    color: gray;
}
.underprice{
    
    background: #FFFFFF;
    border: solid 1px #61A969;
    color: #61A969;
}
.productPriceOld{
    display: inline-block;
    text-decoration: line-through;
    color: gray;
}
.productPrices {
    padding-left: 10px;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color:black;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-4{
    flex-basis: 25%;
    min-width: 0px;
}
.deal_style_4 {

    display: inline;
    flex-basis:25%;
    width: auto;
    background: #00BF96;
    border-color: #00BF96;
    border-radius: 3px;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    
    color: #ffffff;
    text-align: center;
    line-height: 1;
    margin: 10px 5px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 50px;
}